In [1]:
import pandas as pd

In [3]:
ds = pd.read_csv("loan.csv")

In [4]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            10000 non-null  object
 1   Gender             9675 non-null   object
 2   Married            9901 non-null   object
 3   Dependents         9717 non-null   object
 4   Education          10000 non-null  object
 5   Self_Employed      9396 non-null   object
 6   ApplicantIncome    10000 non-null  int64
 7   CoapplicantIncome  10000 non-null  int64
 8   LoanAmount         9917 non-null   float64
 9   Loan_Amount_Term   9791 non-null   float64
 10  Credit_History     9166 non-null   float64
 11  Property_Area      10000 non-null  object
dtypes: float64(3), int64(2), object(7)
memory usage: 937.6+ KB

In [5]:
ds.isnull().sum()

Loan_ID                0
Gender               325
Married               99
Dependents           283
Education              0
Self_Employed        604
ApplicantIncome        0
CoapplicantIncome      0
LoanAmount            83
Loan_Amount_Term     209
Credit_History       834
Property_Area          0
dtype: int64

In [7]:
ds["Dependents"].value_counts()

Dependents
0     5389
2     1555
1     1554
3+    1219
Name: count, dtype: int64

In [8]:
ds["Dependents"].fillna(ds["Dependents"].mode()[0],inplace = True)

In [9]:
ds.isnull().sum()

Loan_ID                0
Gender               325
Married               99
Dependents             0
Education              0
Self_Employed        604
ApplicantIncome        0
CoapplicantIncome      0
LoanAmount            83
Loan_Amount_Term     209
Credit_History       834
Property_Area          0
dtype: int64

In [11]:
ds["Dependents"].replace("3+","3",inplace=True)

In [12]:
ds["Dependents"].value_counts()

Dependents
0    5672
2    1555
1    1554
3    1219
Name: count, dtype: int64

In [17]:
ds["Dependents"] = ds["Dependents"].astype("int64")

In [18]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            10000 non-null  object
 1   Gender             9675 non-null   object
 2   Married            9901 non-null   object
 3   Dependents         10000 non-null  int64
 4   Education          10000 non-null  object
 5   Self_Employed      9396 non-null   object
 6   ApplicantIncome    10000 non-null  int64
 7   CoapplicantIncome  10000 non-null  int64
 8   LoanAmount         9917 non-null   float64
 9   Loan_Amount_Term   9791 non-null   float64
 10  Credit_History     9166 non-null   float64
 11  Property_Area      10000 non-null  object
dtypes: float64(3), int64(3), object(6)
memory usage: 937.6+ KB